@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #E3EFF3;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttonsList {
    height: 250px;
    padding: 0 10px;
    margin: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #D3E0EA;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
}

.sourceList {
    box-sizing: border-box;
    padding: 10px 20px;

    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    justify-content: space-between;
}

.searchButton {
    margin: 12px;
}

.input {
    width: 500px;
    height: 250px;
    border-radius: 20px;
    box-shadow: black 0px 5px 5px -12px inset, black 0px 5px 36px -20px inset;
    border: 0;
    text-align: center;
    background-color: #D3E0EA;
}

.input:focus {
    outline: 0;
    caret-color: transparent;
}

.actionInButton {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 22px 0 0 0;
    margin: -22px 0 0 0;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 750px) {
    body {
        width: 100vw;
    }

    .sourceList {
        flex-direction: row;
        height: fit-content;
        padding: 0;
        justify-content: space-around;
    }

    .buttonsList {
        width: 75%;
    }

    .input {
        width: 75%;
    }

    .App {
        flex-direction: column;
    }
}