@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --heightDisabled: 0;
    --heightActive: 17px;
    --heightHover: 22px;
}

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.50);
    will-change: transform;
    transform: translateY(var(--heightActive));
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    filter: blur(3px);
    cursor: auto;
}

.shadowDisabled {
    transform: translateY(0);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    cursor: default;
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.front {
    display: block;
    position: relative;
    padding: 12px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: #495464;
    will-change: transform;
    transform: translateY(-17px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);

    width: fit-content;
    height: 30px;
}

.frontDisabled {
    transform: translateY(0) !important;
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    cursor: default;
}

.pushable:hover {
    filter: brightness(110%);
}

.pushableDisabled:hover {
    filter: brightness(100%) !important;
    cursor: default;
}

.pushable:hover .front {
    transform: translateY(calc(var(--heightHover) * (-1)));
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(0px);
    transition: transform 75ms;
}

.pushable:hover .shadow {
    transform: translateY(var(--heightHover));
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:hover .shadowDisabled {
    transform: translateY(0) !important;
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.red {
    background: linear-gradient(to left,
            hsl(340deg 100% 40%) 0%,
            hsl(340deg 100% 20%) 8%,
            hsl(340deg 100% 20%) 92%,
            hsl(340deg 100% 40%) 100%);
}

.blue {
    background: linear-gradient(to left,
            hsl(200deg 100% 40%) 0%,
            hsl(200deg 100% 20%) 8%,
            hsl(200deg 100% 20%) 92%,
            hsl(200deg 100% 40%) 100%);
}

.green {
    background: linear-gradient(to left,
            hsl(130deg 100% 40%) 0%,
            hsl(130deg 100% 20%) 8%,
            hsl(130deg 100% 20%) 92%,
            hsl(130deg 100% 40%) 100%);
}

.yellow {
    background: linear-gradient(to left,
            hsl(55deg 100% 40%) 0%,
            hsl(55deg 100% 20%) 8%,
            hsl(55deg 100% 20%) 92%,
            hsl(55deg 100% 40%) 100%);
}

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #E3EFF3;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttonsList {
    height: 250px;
    padding: 0 10px;
    margin: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #D3E0EA;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
}

.sourceList {
    box-sizing: border-box;
    padding: 10px 20px;

    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    min-width: 200px;
    justify-content: space-between;
}

.searchButton {
    margin: 12px;
}

.input {
    width: 500px;
    height: 250px;
    border-radius: 20px;
    box-shadow: black 0px 5px 5px -12px inset, black 0px 5px 36px -20px inset;
    border: 0;
    text-align: center;
    background-color: #D3E0EA;
}

.input:focus {
    outline: 0;
    caret-color: transparent;
}

.actionInButton {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 22px 0 0 0;
    margin: -22px 0 0 0;
    cursor: pointer;
    text-decoration: none;
}

.actionButton {
    margin: 25px 10px;
}

@media (max-width: 750px) {
    body {
        width: 100vw;
    }

    .sourceList {
        flex-direction: row;
        height: fit-content;
        padding: 0;
        justify-content: space-around;
    }

    .buttonsList {
        width: 75%;
    }

    .input {
        width: 75%;
    }

    .App {
        flex-direction: column;
    }
}